@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Work+Sans:wght@400;600;700&display=swap");

:root {
  --primary-color-dark: #222831;
  --primary-color-neutral: #393e46;
  --primary-color-light: #eeeeee;
  --secondary-color-dark: #ffc233;
  --secondary-color-neutral: #ffd369;
  --secondary-color-light: #ffe7ad;
  --transition: ease-in-out 100ms;
  --border-radius: 5px;
  --left-margin: 8rem;
  --right-margin: 10rem;
}

.flex {
  display: flex;
}
