.about-section {
  background-color: #1a1e24;
  height: 95rem;
}

h3 {
  font-size: 2rem;
  line-height: 111%;
  color: var(--primary-color-light);
}

.about-section h3:first-child {
  position: absolute;
  top: 60rem;
  margin-left: var(--left-margin);
}

p {
  color: var(--primary-color-light);
  font-size: 1.5rem;
  line-height: 154%;
  margin: 0 var(--right-margin) 0 var(--left-margin);
}

.about-section p {
  position: absolute;
  top: 70rem;
}

.about-section h3:last-child {
  position: absolute;
  top: 100rem;
  margin-left: var(--left-margin);
}
