.portfolio-section h3 {
  margin: 10rem 0 0 var(--left-margin);
}

#resume {
  position: absolute;
  top: 153.8rem;
  left: 67rem;
  text-decoration: none;
  color: var(--secondary-color-dark);
}

#resume span {
  font-weight: 600;
  font-size: 1.56rem;
  margin-right: 0.8rem;
}

#icon {
  font-size: 1.5rem;
}

h4 {
  color: var(--primary-color-light);
  font-size: 1.3rem;
  font-weight: 400;
}

#web {
  margin: 6.25rem 0 0 var(--left-margin);
}

#figma {
  margin: 9.375rem 0 0 var(--left-margin);
}
